h1 {
  font-size: 1em; }

.c-1 {
  color: red !important; }

.c-2 {
  color: blue !important; }

.m-z {
  margin-top: 0px !important; }

.m-t-z {
  margin-top: 0px !important; }

.m-t-xxs {
  margin-top: 3px !important; }

.m-t-xs {
  margin-top: 6px !important; }

.m-t-s {
  margin-top: 9px !important; }

.m-t-m {
  margin-top: 12px !important; }

.m-t-l {
  margin-top: 15px !important; }

.m-t-xl {
  margin-top: 18px !important; }

.m-t-xxl {
  margin-top: 21px !important; }
